<% content_for :title, "Articles list" %>
<%= render 'layouts/messages' %>
<div class="row justify-content-between mx-lg-0 mx-3 mb-3">
  <div class="col-6">
    <h3>Articles list</h3>
  </div>
  <div class="col-6">
    <%= link_to 'Create new article', new_article_path, class: "btn btn-sm btn-success float-end"%>
  </div>
</div>
<div class="flickr_pagination my-3">
  <%= will_paginate @articles, :container => false %>
  <div class="page_info">
    <%= page_entries_info @articles %>
  </div>
</div>
<%= render 'article', obj: @articles %>
<div class="flickr_pagination my-3">
  <%= will_paginate @articles, :container => false %>
  <div class="page_info">
    <%= page_entries_info @articles %>
  </div>
</div>
