<div class="row justify-content-center">
  <% @users.each do |user| %>
    <div class="col-lg-4 col-md-5 col-11 gx-5 mb-5 p-1 p-sm-3">
      <div class="card text-center shadow rounded">
        <div class="card-body">
          <h5 class="card-title"><%= link_to user.username, user %></h5>
          <%= link_to gravatar_for(user, size: 200, class: "my-3 rounded mx-auto d-block shadow"), user %>
          <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
          <div class="row justify-content-center">
            <%= link_to 'View profile', user, class: "btn btn-outline-primary col-xxl-5 col-md-10 col-5 mx-2"%>
            <% if logged_in? && user == current_user %>
              <%= link_to 'Edit profile', edit_user_path(user), class: "btn btn-outline-info col-xxl-5 col-md-10 col-5 mx-2"%>
            <% end %>
          </div>
        </div>
        <div class="card-footer text-muted">
          <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
        </div>
      </div>
    </div>
  <% end %>
</div>