<% content_for :title, "Categories list" %>
<div class="row justify-content-between mx-lg-0 mx-3 mb-3">
  <div class="col-6">
    <h3>Categories list</h3>
  </div>
  <div class="col-6">
    <%= link_to 'Create new category', new_category_path, class: "btn btn-sm btn-success float-end" if logged_in? && current_user.admin?%>
  </div>
</div>
<% if @category.empty? %>
  <p class="mb-5 mx-5 mt-2 text-secondary">Nothing to show. <%= link_to "Create a new category.", new_category_path, class:"text-success" if logged_in? && current_user.admin?%></p>
<% else %>
  <div class="flickr_pagination my-3">
    <%= will_paginate @category, :container => false %>
    <div class="page_info">
      <%= page_entries_info @category %>
    </div>
  </div>
  <div class="row justify-content-center">
    <% @category.each do |category| %>
      <%= link_to category_path(category), class: "btn btn-outline-primary shadow col-lg-2 col-sm-5 col-10 gx-5 p-3 m-2" do %>
        <h5 class="card-title m-0"> <%= category.name %></h5>
        <small> <%= pluralize(category.articles.count, "article") %></small>
      <% end %>
    <% end %>
  </div>
  <div class="flickr_pagination my-3">
    <%= will_paginate @category, :container => false %>
    <div class="page_info">
      <%= page_entries_info @category %>
    </div>
  </div>
<% end %>
