<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "Alpha Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= yield :head %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <% unless content_for?(:container) %>
      <div class="container my-5">
    <% end %>
        <%= render 'layouts/messages' %>
        <%= yield %>
    <% unless content_for?(:container) %>
      </div>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
